<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таксопарк</title>
</head>
<body>
    <center>
        <br/>
        <br/>
        <div>
            <a href="{% url 'taxi_yandex' %}">
                Яндекс Такси
            </a>
        </div>
        <br/>
        <br/>
        <div>
            <a href="{% url 'taxi_namba' %}">
                Namba Taxi
            </a>
        </div>
        <br/>
        <br/>
        <div>
            <a href="{% url 'taxi_jorgo' %}">
                Жорго Такси
            </a>
        </div>

    </center>
</body>
</html>