<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Троллейбусы</title>
</head>
<body>
    <center>
        <br/>
        <br/>
        <div>
            <a href="{% url 'trolleybus_5' %}">
                Троллейбус №5
            </a>
        </div>
        <br/>
        <br/>
        <div>
            <a href="{% url 'trolleybus_7' %}">
                Троллейбус №7
            </a>
        </div>
        <br/>
        <br/>
        <div>
            <a href="{% url 'trolleybus_17' %}">
                Троллейбус №17
            </a>
        </div>

        <br/>
        <br/>
        <div>
            <a href="{% url 'trolleybus_10' %}">
                Троллейбус №7
            </a>
        </div>
    </center>
</body>
</html>